{{ define "main" }}

{{ if .Title}}
<h1>{{ .Title }}</h1>
{{ end }}

{{ .Content }}

{{ $pages := .Pages }}
{{ if $pages }}
<h2>Pages under this category</h2>
{{ end }}

<div class="row">
  {{ range $pages.ByPublishDate.Reverse }}

  {{ $i := .Resources.GetMatch "header*"}}

  {{ if $i }}
  <div class="xs-12 sm-3 col flex hide-small">
    {{ $image := $i.Resize "300x" }}
    <a href="{{ .RelPermalink }}" class="align-centre">
      <img src="{{ $image.Permalink }}" />
    </a>
  </div>
  {{ end }}
  <div class="xs-12 sm-9 col">
    <h4>
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </h4>
    {{ if ne .Params.show_summary false }}
    <p>
      {{ .Description }}
    </p>
    {{ end }}
  </div>

  {{ end }}
</div>
{{ end }}