{{ define "main" }}

{{ if .Title}}
<h1>{{ .Title }}</h1>
{{ end }}

{{ .Content }}
{{ $pages := .Pages }}
{{ range $pages.ByPublishDate.Reverse }}

{{ $i := .Resources.GetMatch "header*"}}

<div class="row">
  <div class="sm-9 col">
    <h4 class="card-title">
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </h4>
    <h5 class="card-subtitle">
      {{ if ne .Params.show_summary false }}
      {{ .Description }}
      {{ end }}
    </h5>
  </div>
  <div class="sm-3 col">
    {{if $i}}
    {{ $image := $i.Resize "300x" }}
    <a href="{{ .RelPermalink }}">
      <img src="{{ $image.Permalink }}" />
    </a>
    {{ end}}
  </div>
</div>

{{ end }}
{{ end }}