{{ define "main" }}

{{ $i := .Resources.GetMatch "header**"}}
<div class="row highlight">
    <div class="col sm-8">
        <h1>{{ .Title }}</h1>
        {{ .Description }}
        {{with .Params.wiki_link}}
        <a href="{{.}}" target="_blank"><span class="badge success">View on Wiki</span></a>
        {{end}}

        {{with .Params.telegram}}
        <a href="{{.}}" target="_blank"><span class="badge success">Join Chat</span></a>
        {{end}}
    </div>
    {{if $i}}
    <div class="col xs-12 sm-4">
        {{ $image := $i.Fit  "800x200" }}
        <img src="{{ $image.Permalink }}" />
    </div>
    {{ end}}
</div>

{{if eq .Params.danger_level "3"}}
<div class="row flex-spaces">
    <div class="alert alert-danger">
        This tool is bloody dangerous! Training is required and PPE must be worn.
    </div>
</div>
{{end}}
{{ .Content }}

{{ end }}