@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
/* base */
body {
  background-image: url('{{ "img/space.jpg" | absURL }}');
  background-size: cover; 
  background-position: center top;
  background-attachment: fixed;
  animation: none;
  font-size: 18px;
}

* {
  font-family: "Roboto Slab" !important;
}

h1, 
h2,
h3,
h4,
h5,
h6,
p,
a :not(nav) {
  margin: 0;
}

h1{ 
  font-size: 3em;
  margin: 0 0 0.2em 0;
}
h2{
  font-size: 2em;
  margin: 1em 0 0.2em 0;
}
h3{
  font-size: 1.8em;
  margin: 1em 0 0.2em 0;
}
h4{
  font-size: 1.5em;
  margin: 1em 0 0.2em 0;
}

p{
  margin: 1em 0;
}

img {
  margin: 0 auto;
}

@media only screen and (max-width:480px) {

  .paper{
    width: 100%;
    background:rgba(255,255,255,0.95);
  }
}

@media only screen and (max-width:768px) {
  body {
    font-size: 16px;
  }

  .nav-brand {
    width: 80%;
  }
  
  .nav-brand > h3 {
     font-size: 2em;
     border: 0;
  }

  .hide-small{
    display:none !important;
  }

}

/* anchors */
a,
a:visited {
  color: rgb(0, 0, 238);
  background-image: none;
  text-decoration: underline;
}

/* navbar */
nav {
  margin-top: 1em;
  padding: 0.6rem;
}

nav a,
nav a:visited {
  color: #41403e;
  text-decoration: none;
  line-height: 1.8em;
}

nav li {
  position: relative;
}

nav img {
  border: none;
  height:10px;
  position: absolute;
  right: -10px;
  bottom: 2px;
}

/* blockquote */
blockquote {
  font-style: italic;
}

.flex {
  display: flex;
}

.align-centre{
  align-self: center;
}

.paper {
  margin-top: 1rem;
  padding-top: 1rem;
  overflow: auto;
  margin-bottom: 3em; 
}

.paper > * {
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* post list */
.post-list {
  font-size: 2em;
}
.summary {
  margin-bottom: 0.1em;
}

/* post single */
.post-title {
  margin-bottom: 0.1em;
}

/* toc */
.toc {
  padding: 1em;
  margin-top: 1em;
}
.toc h2 {
  font-size: 1.3em;
}

.badge.warning {
  background-color: 
  #d5620f;
}

.badge{
  line-height: 1.5em;
  margin: 0.2em 0;
}

.highlight {
  background-color: rgb(233, 236, 207);
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}