{{ define "main" }}

{{ .Content }}
<div class="row flex-spaces">
  <div class="alert alert-success"><b>Open Evenings!</b> Every Wednesday 18:30 - 21:30, just come by, no need to book.
  </div>
</div>
<h1>Hackspace Manchester</h1>
<h2>A space for people who make things to make things</h2>

<div class="row">

  <div class='sm-12 md-4 col'>
    <img src="/laser.jpg" />
  </div>
  <div class='sm-12 md-4 col'>
    <img src="/sign.jpg" />
  </div>
  <div class='sm-12 md-4 col'>
    <img src="/metal.jpg" />
  </div>
</div>
<div class="row">
  <div class='sm-12 md-6 col'>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Join the space</h4>
        <p class="card-text">24/7 fob access, loads of tools, community, and ability to join meetings.</p>
        <a class="paper-btn" href="https://members.hacman.org.uk">Join</a>
      </div>
    </div>
  </div>

  <div class='sm-6 md-6 col'>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Spaces</h4>
        <p class="card-text">24/7 fob access, loads of tools, community, and ability to join meetings.</p>
        <a class="paper-btn" href="/areas">Areas</a>
      </div>
    </div>
  </div>

</div>

<h2>Open Evening</h2>
<div class="row flex-spaces">
  <div class="alert alert-success"><b>Open Evenings!</b> Every Wednesday 18:30 - 21:30, just come by, no need to book.
  </div>
</div>

<h2>Contact Us</h2>
<h4>Come in</h4>
<address>
  Unit 1, Room 1<br />
  Ground Floor<br />
  Wellington House<br />
  M40 7FS
</address>
<br />
Our front doors are painted like a sunset and can be open out onto Pollard Street East.
<br />
<br />

<h4>Drop us a line</h4>
hello@hacman.org.uk

{{ end}}